:root {
	--destaque: rgb(32, 74, 135);
	--destaque-transparente: rgba(32, 74, 135, 0.8);
	--base: white;
	--contrastante: rgb(54,54,54);
}

*{
	padding: 0px;
	margin: 0px;
}
/*--------------------------------------------------------------*/
body{	
	padding: 20px;
	
	color: var(--contrastante);	
	background-color: var(--base);
}

.titulo-principal{			
	padding-bottom: 20px;
	
	text-align: center;	
	
	color: var(--destaque);
}

.principal{	
	height: 400px;	
	padding: 20px;	
	
	border: 1px solid var(--destaque);
	
	display: flex;	
}
/*--------------------------------------------------------------*/
#entrada-tarefas{	
	width: 50%;
	
	padding-right: 20px;	
	
	display: flex;
	flex-direction: column;
	
	justify-content: space-around;	
}

#lista-tarefas{	
	width: 50%;
	padding-left: 20px;
	
	display: flex;
	flex-direction: column;
	
	justify-content: space-around;
	align-items: center;
}
/*--------------------------------------------------------------*/
#entrada{
	width: 80%;
	padding: 10px;	
}

#info-tarefas{	
	width: 70%;
	height: 10%;
	padding: 10px;	
	
	border-radius: 5px;
}
/*--------------------------------------------------------------*/
#tabela_tarefas{	
	width: 70%;
	height: 50%;
	padding: 10px;	
	
	border-top: 1px solid var(--contrastante); 
	border-bottom: 1px solid var(--contrastante);
		
	overflow: scroll;
	
	display: flex;
	justify-content: center;	
}

#exibe_tarefa{
	width: 70%;
	height: 30%;
	
	padding: 10px;	
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	color: var(--base);
}
/*--------------------------------------------------------------*/
.linha-entrada{	
	margin-bottom: 5px;
	
	display: flex;
	align-items: center;	
}

.descricao-campo{
	width: 120px;	
}

.campo{ 
	width: 300px;
	padding: 5px;	
	
	color: var(--contrastante);	
}

.campo:focus{	
	 border: 2px solid var(--contrastante);	
}

.campo-data input[type=text]{
	width: 35px;
}

.botao{
	margin-top: 5px;
	padding: 7px;	
	
	border-radius: 5px;	
	border: 0px;	
	
	background-color: var(--contrastante);
	color: var(--base);
}
/*--------------------------------------------------------------*/
#info-tarefas :first-child{
	margin-bottom: 5px;	
}
/*--------------------------------------------------------------*/
td{	
	padding-top: 5px;
	
	border-bottom: 1px solid var(--destaque); 
}

td:hover {
	background-color: var(--destaque); 
	color: var(--base);
	
	cursor: default;
}
/*--------------------------------------------------------------*/
#exibe_tarefa p{
	margin-bottom: 3px;		
}

#exibe_tarefa :last-child{
	margin-bottom: 0;		
}

